<h1>Showing selected articles</h1>

<p>
  Tittle: <%= @article.tittle %>
</p>

<p>
  Description: <%= @article.description %>
</p>

<%= link_to "Edit this article", edit_article_path(@article) %></br>
<%= link_to "Back to articles listing", articles_path %>
